.name_logo{display:flex;}
.phone_button{display:flex;justify-content:flex-end;}
.block_feat{display:flex;padding-bottom:30px;}
.feat_text{margin-left:20px;display:block;}
.img_line{margin-bottom:40px;}
.section_head{background:url(../img/background.png) no-repeat;background-size:cover;padding-top:30px;padding-bottom:230px;margin-right:3px;margin-left:3px;}
.iconc{margin-right:15px;}
.name{color:#ffffff;font-family:"Open Sans - Extrabold";font-size:30px;font-weight:400;text-transform:uppercase;}
@media (max-width:35.99em){.name{font-size:17px;}
}
.motto{color:#ffffff;font-family:"Open Sans - Extrabold";font-size:18px;font-weight:400;text-transform:uppercase;}
@media (max-width:375px){.motto{font-size:10px;}
}

@media (max-width:35.99em){b{display:none;}
}
.call_me{width:30%;height:37px;margin-left:20px;color:#ffffff;font-family:"Open Sans";font-size:60%;font-weight:700;text-transform:uppercase;border-radius:3px;border:1px solid #ffffff;background-color:transparent;cursor:pointer;outline:none;}

.number {color:#ffffff;font-family:"Open Sans - Extrabold";font-size:18px;font-weight:400;text-transform:uppercase;}
.call_me:hover{background-color:#ffba00;color:black;}
.text_head{flex-direction:column;color:#ffffff;font-family:"Open Sans - Extrabold";font-size:37px;font-weight:400;text-transform:uppercase;margin-top:120px;margin-bottom:183px;align-items:center;margin-left:10px;margin-right:10px;}

.make_2{margin-left:100px;}
@media (max-width:768px){.make_2{margin-left:auto;}
}
@media (max-width:425px){.text_head{font-size:28px;}
}
.viewprojects{border-radius:3px;background-color:#ffba00;color:#000000;font-family:"Open Sans - Extrabold";font-size:15px;font-weight:400;text-transform:uppercase;width:267px;height:67px;cursor:pointer;outline:none;border-color:transparent;margin-bottom:20px;}
@media (max-width:425px){.viewprojects{width:250px;height:57px;}
}
.viewprojects:hover{background-color:transparent;color:#fff;border-color:#fff;}
.faq{width:267px;height:67px;border-radius:3px;border:2px solid #ffffff;color:#ffffff;font-family:"Open Sans - Extrabold";font-size:15px;font-weight:400;text-transform:uppercase;background-color:transparent;cursor:pointer;outline:none;}
@media (max-width:425px){.faq{width:250px;height:57px;}
}
.faq:hover{background-color:#ffba00;color:#000000;border-color:transparent;}
.header{display:flex;justify-content:center;}
.love{text-align:center;}
@media (max-width:35.99em){.men-block{display:none;}
}
.second_section{padding-top:56px;padding-bottom:56px;}
.head_second{color:#1f0f22;font-family:"Open Sans - Extrabold";font-size:32px;font-weight:400;line-height:47px;text-transform:uppercase;}
.text_second{color:#1f0f22;font-family:"Open Sans";font-size:23px;font-weight:400;line-height:24px;}
.section_four{background:url(../img/features.png) no-repeat;background-size:cover;padding-top:80px;padding-bottom:90px;}
.our_feat{color:#1f0f22;font-family:"Open Sans - Extrabold";font-size:36px;font-weight:400;line-height:47px;text-transform:uppercase;}
@media (max-width:425px){.our_feat{font-size:30px;}
}
.feat{color:#1f0f22;font-family:"Open Sans - Extrabold";font-size:21px;font-weight:400;text-transform:uppercase;}
.feat_text1{color:#212121;font-family:"Open Sans";font-size:14px;font-weight:400;line-height:20px;}
.section_five{padding-top:63px;padding-bottom:63px;}
.comands_title{color:#1f0f22;font-family:"Open Sans - Extrabold";font-size:36px;font-weight:400;line-height:47px;text-transform:uppercase;}
.comand_person{width:210px;height:500px;box-shadow:0 2px 5px rgba(0, 0, 0, 0.21);border-radius:3px;border-color:#fff;margin-right:5px;margin-left:5px;text-align:center;align-items:center;justify-content:center;margin-bottom:10px;}
.image{width:205px;height:205px;display:flex;align-items:center;justify-content:center;border-color:#000;border:3px;margin-left:auto;margin-right:auto;}
.img_person{margin-top:5px;width:200px;}
.names{color:#1f0f22;font-family:"Open Sans - Extrabold";font-size:19px;font-weight:400;line-height:47px;text-transform:uppercase;margin-top:7px;margin-bottom:5px;}
.status{color:#1f0f22;font-family:"Open Sans";font-size:14px;font-weight:300;line-height:20px;}
.desc_pers{margin-top:26px;color:#582c60;font-family:"Open Sans - Extrabold";font-size:15px;font-weight:400;line-height:20px;}
.know{margin-top:70px;width:80%;height:10%;border-radius:5px;border-color:transparent;background-color:#ffba00;color:#000000;font-family:"Open Sans - Extrabold";font-size:14px;font-weight:400;text-transform:uppercase;cursor:pointer;outline:none;}
.know:hover{background-color:transparent;color:#000;border-color:#ffba00;}
.section_six{padding-top:73px;padding-bottom:73px;}
.head_part{padding-bottom:41px;color:#1f0f22;font-family:"Open Sans - Extrabold";font-size:36px;font-weight:400;line-height:47px;text-transform:uppercase;}
.name_part{padding-top:20px;padding-bottom:20px;color:#000000;font-family:"Open Sans - Extrabold";font-size:19px;font-weight:400;text-transform:uppercase;}
.section_eight{padding-top:120px;margin-bottom:100px;background:url(../img/background7.png) no-repeat;background-size:cover;}
.coments{color:#1f0f22;font-family:"Open Sans - Extrabold";font-size:36px;font-weight:400;line-height:47px;text-transform:uppercase;padding-bottom:27px;}
.kav{display:flex;justify-content:flex-end;}
.colore{background-color:#582c60;justify-content:center;opacity:0.9;padding-top:45px;}
.quest{font-size:36px;color:#fff;font-family:"Open Sans - Extrabold";font-weight:400;line-height:47px;text-transform:uppercase;padding-right:90px;margin-left:10px;padding-bottom:20px;}
@media (max-width:425px){.quest{font-size:30px;}
}
.address{color:#ffba00;font-family:"Open Sans - Extrabold";font-size:16px;font-weight:400;line-height:47px;}


.footer{display: flex; background-color:#3c1a42;padding-top:5px;padding-bottom:5px;}
.rever{display: flex; justify-content:space-around;align-items:center;}
.lic{opacity:0.52;color:#ffffff;font-family:"Open Sans";font-size:30%;font-weight:300;}
.creator{width: 90%; cursor:pointer;margin-bottom:7px;margin-top:7px;}
a {width: 100px; height: auto; }
.text_speakers{padding-left:30px;}
.speaker{color:#1f0f22;font-family:"Open Sans - Extrabold";font-size:17px;font-weight:400;line-height:47px;text-transform:uppercase;}
.text_speaker{color:#1f0f22;font-family:"Open Sans Light";font-size:16px;font-weight:300;font-style:italic;line-height:22px;}
.yakor{text-decoration:none;color:#000}
.yakor:hover{color:#fff;}
.slider{display:flex;justify-content:center;align-items:center;}
.overlay{position:fixed;display:none;top:0;width:100%; height:100%;z-index:3;background-color:rgba(0,0,0,0.6);}
.popup{position:fixed;left:50%;width:752px;top:50px;transform:translateX(-50%);background-color:#fff;}
@media (max-width:1024px){.popup{width:600px;top:30px;}
}
@media (max-width:768px){.popup{width:320px;}
}
@media (max-width:425px){.popup{width:280px;}
}
@media (max-width:375px){.popup{width:250px;}
}
.popup_close{position:absolute;font-size:35px;color:#fff;right:-20px;top:-30px;font-weight:300;cursor:pointer;color:grey;}
@media (max-width:375px){.popup_close{right:-10px;}
}
.popup_title{display:block;width:100%;height:71px;margin:0;background-color:#ffba00;color:#fff;line-height:71px;text-transform:uppercase;font-size:21px;font-weight:500;text-align:center;}
@media (max-width:768px){.popup_title{font-size:22px;}
}
@media (max-width:425px){.popup_title{font-size:18px;}
}
.popup_form{background:url(../img/background.png) center no-repeat;-webkit-background-size:cover;background-size:cover;padding:35px 20px 50px 20px;color:#fff;}
@media (max-width:768px){.popup_form{padding:15px 44px 25px 8px;}
}
@media (max-width:768px){.popup_form{padding:15px 18px 25px 5px;}
}
.popup_form_header{padding:0px;font-size:30px;font-weight:400;line-height:27px;text-align:center;}
@media (max-width:768px){.popup_form_header{font-size:25px;}
}
@media (max-width:425px){.popup_form_header{font-size:20px;}
}
span{font-size:24px;}
@media (max-width:425px){span{font-size:14px;}
}
.popup_form_label{display:block;margin-top:23px;font-size:20px;font-weight:300;line-height:30px;}
@media (max-width:768px){.popup_form_label{margin-top:10px;}
}
.popup_form_input{width:365px;height:56px;margin-top:17px;text-align:center;font-size:22px;}
@media (max-width:1024px){.popup_form_input{width:250px;height:35px;}
}
@media (max-width:768px){.popup_form_input{width:220px;height:35px;font-size:20px;}
}
@media (max-width:425px){.popup_form_input{width:200px;height:25px;font-size:18px;}
}
.popup_form_btn{width:180px;height:56px;margin-top:16px;margin-bottom:9px;font-size:15px;font-weight:500;line-height:22px;background-color:#ffba00;outline:none;cursor:pointer;border:transparent;}
.popup_form_note{font-size:14px;font-weight:300;line-height:30px;}